div#main {
  max-width: 800px;
  margin-bottom: 0%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;

  display: block;
  gap: 0px;
}

div.tab-group {
  display: flex;
  gap: 1rem;
}

div.spaced {
  display: grid;
  gap: 1rem;
}

div.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 250px;
  white-space: nowrap;
}

.active {
  /* background-color: #ccc; */
  text-decoration: underline;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none; */
}
